<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="http://code.angularjs.org/1.2.13/angular.js"></script>
<script>
    function CreateController($scope) {
    
    $scope.logins = [];
    $scope.login = function (user, pwd) {
        localStorage.setItem("name" , user);
        localStorage.setItem("password" , pwd);
        $scope.logins.push( localStorage.getItem("name") + " was created.");
    };
}
    </script>    
    <title>Create new account</title>
</head>
<body>

<div class="content">
<div align="center">
<div ng-app ng-controller="CreateController">
    <h3>Create an account</h3>
    
   <div class="input">
        Username: <input ng-model="user.name"></input>
    <br/><br/>
    Password: <input ng-model="user.pwd" type="password"></input>
    <br/><br/>
    <input type="submit" ng-click="login(user.name, user.pwd)" value="Create"></input>
    <br/><br/>
</div>   
<div ng-repeat="login in logins">{{ login }}</div>
</div>
</div>
</div>
</body>


</html>