<!DOCTYPE html>

<html lag="en">



<head>
<title>Login page</title>
<% include partials/Head.ejs %>
<div style="color:#0000FF" class="page-header" align="center"><h4>User Login Page</h4></div>
</head>


<body>
<div class="wrapper">
<div class="container">
<div class="row" align="center">


<form class="form-group" method="post" action="/authenticate" align="center">
<% if( typeof(errorMessage) !== 'undefined' ) {%>
    <div align="center">
    <code><%=errorMessage%></code>
    </div>
    <%}%>


    <!--glyphicon glyphicon-envelope-->
                <p class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-cloud"></span></span>
                <input type="email" class="form-control input-lg" name="email" placeholder="Email" required>
              </p>
                  </br>


              <p class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-cloud"></span></span>
              <input type="password" class="form-control input-lg" name="password" placeholder="password" required>
            </p>
            <br>
                  </br>


            <h4><button class="btn btn-info" type="submit" action="">User Login</button></h4>
            <h4><button class="btn btn-info" type="reset" action="">Reset</button></h4>


              </form>
              <div class="margin-base-vertical" >
					<h6 align="center"> <a href="/registration"> Don't have a account?</a></h6> &nbsp&nbsp&nbsp<a href="/login">Home </a>
              </div>
            <br/>

	 		 </div>
			 <br/>

          </div>
     </div>
  </div>
</div>
<% include partials/Footer.ejs %>
</body>

</html>
