<!DOCTYPE html>
<html lang="en">

<head>

    <title>Hi!  <%session.newuser%> </title>
    <% include partials/Head.ejs %>


</head>

<body>

    <div id="wrapper">



        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      <h1 align="center" class="text text-center text-capitalize">
                        Welcome to CS 5551 Lab 10
                      </h1>
                      <br/><br/><br/>

                   <blockquote class="well">
                  Hi! <code><%=session.newUser%></code>,you have successfully created your account <br/>
                  Click <a href="/login"> me</a> to go back to page.
                  </blockquote>

                    </div>
                </div>
            </div>
        </div>


    </div>
      <% include partials/Footer.ejs %>

</body>

</html>
